body {
    margin: 0;
    background-color: #241125;
    font-family: 'Space Mono', monospace;
    color: white;
    width: 512px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.planetDiv {
    position: absolute;
    top: 0;

    width: 100%;
    height: 10vh;
}

.planetDiv h1 {
    text-align: center;
    line-height: 10vh;
}

.mainDiv  {
    position: absolute;
    top: 10vh;

    display: flex;
    align-items: center;

    width: 100%;
    height: 90vh;
}

.clickablesDiv, .mainCenterDiv, .shopDiv {
    display: inline-block;
}

.clickablesDiv {
    height: 100%;
    width: 25vw;
}

.clickableDiv {
    height: 33.3%;
}
.clickableDiv img {
    height: 33.3%;
}

.clickableDiv:hover {
    background-color: rgba(255,255,255,0.5);
}

.mainCenterDiv {
    height: 100%;
    width: 50vw;
}

.tallyDiv {
    height: 30%;

    text-align: center;
}
.tallyDiv img {
    height: 12em;
}

.collectionDiv {
    height: 70%;
}

.shopDiv {
    height: 100%;
    width: 25vw;
}

.productDiv {
    padding: 0.7em;
    text-align: center;
}

.buyProduct {
    border: 1px solid transparent;
    border-color: rgba(50,50,50,0.2);
}

.buyProduct {
    background-color: rgba(100,255,100,0.35);
}
.buyProduct:hover {
    background-color: rgba(100,255,100,0.45);
}

.tooExpensive {
    background-color: rgba(255,25,25,0.20);
}
.tooExpensive:hover {
    background-color: rgba(255,25,25,0.20);
}

.clickableDiv, .buyProduct {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
